body {
    background-color: rgb(249, 205, 213);
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, rgb(252, 112, 135),rgb(251, 157, 172),rgb(254, 254, 173),rgb(247, 137, 155));
    background-size: 400% 400%;
    animation: gredientBg 15s ease infinite;
    color: white;
    
}

@keyframes gradientBg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.profile-pic {
    weight : 120px;
    height: 120px;
    object-fit: cover;
    border: 4px solid gray;
    transition: transform 0.3s ease;

}
.profile-pic{
    max-width: 680;
    width: 100%;
}

.username {
    font-weight: 700;
    text-shadow: 2px 2px 4px black;
}
.bio{
    font-weight: 300px;
}
.btn-glass {
    background: rgba(red, green, blue, alpha);
    border: 1px solid rgba(red, green, blue, alpha);
    backdrop-filter: blur(10px);
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(red, green, blue, alpha);
}